<div id="<%= dom_id label_prog %>">
  <tbody>
    <table id="label_prog" class="prog">
      <tr>
        <td>
          <strong>Siape:</strong>
        </td>

        <td>
          <strong>Nome:</strong>
        </td>

        <td>
          <strong>Portaria:</strong>
        </td>

        <td>
          <strong>Classe:</strong>
        </td>

        <td>
          <strong>Atual:</strong>
        </td>

        <td>
          <strong>Novo:</strong>
        </td>

        <td>
          <strong>Inicio</strong>
        </td>

        <td>
          <strong>Fim</strong>
        </td>

        <td>
          <strong>Iq atual:</strong>
        </td>

        <td>
          <strong>Iq novo:</strong>
        </td>

        <td>
          <strong>Anuenio:</strong>
        </td>

        <td>
          <strong>Insalub.</strong>
        </td>

        <td>
          <strong>Medico:</strong>
        </td>

        <td>
          <strong>V.B. Comp:</strong>
        </td>
      </tr>
    </table>
    </tbody>
</div>
